<div class="container mt-2" *ngIf="authors">
  <form>
      <div class="form-group">
        <label for="">Select author</label>
        <select class="form-control" id="" [(ngModel)]="selectedAuthor" name="author" (change)="targetSelectedAuthor()">
            <option [value]="author.id" *ngFor="let author of authors">{{author.name}}</option>
        </select>
    </div>
    <div *ngIf="authorSelected">
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="selectedAuthor.name" name="name">
      </div>
      <div class="form-group">
        <label for="">Birthday</label>
        <input type="text" class="form-control" placeholder="Birthday"  [(ngModel)]="selectedAuthor.birthDay" name="Birthday">
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="updateAuthor()">Submit</button>
      </div>
    </div>
  </form>
  </div>
