<div class="container mt-2">
  <form>
      <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newAuthor.name" name="name">
      </div>
      <div class="form-group">
          <label for="">Birthday</label>
          <input type="text" class="form-control" placeholder="Birthday"  [(ngModel)]="newAuthor.birthDay" name="Birthday">
      </div>
      <div class="form-group">
          <button class="btn btn-primary" (click)="createAuthor()">Submit</button>
      </div>
  </form>
  </div>